.windsurfrules
run.sh
# Folders
structure.txt
.idea/
.vscode/
.pytest_cache/*
__pycache__/
chroma_db/
local_data/
diagnostic_extracted_texts/
.DS_Store
rag-pdf-api.code-workspace
processed_data/
git_commits.txt
.aider*
version_doc/
.cursorignore
tests/test_file_ids.json
tests/workflows/*.sql.runtime
.coverage
coverage.xml
workflows/env_varaibles.txt
env_variables.txt
.projectrules
.windsurf/
env_variables.txt
old_working_chatwithcsv/
userinput.py
.cursor/
temp_files/
