variables:
  MG_APP_NAME: $CI_PROJECT_NAME
  MG_RENDERED_MANIFESTS_PUSH: "true"
  MG_KANIKO_EXTRA_ARGS: |
    --build-arg GITLAB_CI_TOKEN=${CI_JOB_TOKEN}
  MG_POETRY_VERSION: 1.8.3
  MG_POETRY_RUN_RELEASE: "false"

include:
  - project: dataalliance/infra/common/ci-templates
    ref: v40.0.1
    file: /infra/pipelines/apps/main/include-all.yml
  - local: /ci/helm.yml
  # add dev specific env variables.
  - local: /ci/test_env_variables.yml
  # custom gitlab workflow rules for helm deployments
  - local: /ci/custom_helm_deployment_rules.yaml


poetry:test:
  parallel:
    matrix:
      - PYTHON_VERSION: 3.11.6
  variables:
    COV_NAME: "rtl_rag_chatbot_api"
    # in addition to /ci/test_env_variables.yml DEV is set to true here for pytests to work
    DEV: "true"

image:upload: # patch image upload job to give its Kubernetes pod more resources
  # https://rtldata.atlassian.net/wiki/spaces/DEP/pages/308447599/Troubleshooting+My+Gitlab+CI+job+e.g.+Kaniko+was+killed.+How+to+troubleshoot+long-running+or+memory-intensive+CI+jobs
  variables:
    KUBERNETES_CPU_REQUEST: 4
    KUBERNETES_CPU_LIMIT: 4
    KUBERNETES_MEMORY_REQUEST: 10Gi
    KUBERNETES_MEMORY_LIMIT: 10Gi

helm:tags:dryrun:
  allow_failure: true #TODO remove after https://rtldata.atlassian.net/browse/DAINFRA-1387 has been resolved to make chart version bumping optional (again)

.helm_push_manifests_job:
  rules:
  - if: $MG_RENDERED_MANIFESTS_PUSH == "false"
    when: never
  - !reference [.custom_helm_deployment_rules]
  parallel:
    matrix:
      - MG_ENV:
        - dev
        - preprod
        - prod

helm:lint:
  variables:
    MG_K8S_CLUSTER_NAME: k8s-biqua
