variables:
  MG_APP_NAME: $CI_PROJECT_NAME
  MG_RENDERED_MANIFESTS_PUSH: "true"
  MG_KANIKO_EXTRA_ARGS: |
    --build-arg GITLAB_CI_TOKEN=${CI_JOB_TOKEN}
  MG_POETRY_VERSION: 1.8.3

include:
  - project: dataalliance/infra/common/ci-templates
    ref: v23.3.0
    file: /infra/pipelines/apps/main/include-all.yml
  - local: /ci/helm.yml

poetry:test:
  parallel:
    matrix:
      - PYTHON_VERSION:
          - 3.11.6

image:upload: # patch image upload job to give its Kubernetes pod more resources
  # https://rtldata.atlassian.net/wiki/spaces/DEP/pages/308447599/Troubleshooting+My+Gitlab+CI+job+e.g.+Kaniko+was+killed.+How+to+troubleshoot+long-running+or+memory-intensive+CI+jobs
  variables:
    KUBERNETES_CPU_REQUEST: 4
    KUBERNETES_CPU_LIMIT: 4
    KUBERNETES_MEMORY_REQUEST: 10Gi
    KUBERNETES_MEMORY_LIMIT: 10Gi

helm:tags:dryrun:
  allow_failure: true #TODO remove after https://rtldata.atlassian.net/browse/DAINFRA-1387 has been resolved to make chart version bumping optional (again)

.helm_push_manifests_job:
  parallel:
    matrix:
      - MG_ENV:
        - dev
        - preprod
        - prod
      - MG_K8S_CLUSTER_NAME:
        - k8s-eewac
        - k8s-fihuf
        - k8s-biqua

helm:lint:
  variables:
    MG_K8S_CLUSTER_NAME: k8s-biqua
