global:
  env: "test"
  port: 8080
  probePath: /internal/healthy

  vault:
    mount_path: "da/itowe/ci"
    secrets_prefix: "common"
    envSecrets:
      - chatbot/chatbot-api
universal-helm-chart:
  container:
    image:
      repository: "override-me-via-ci-pipeline"
      tag: "override-me-via-ci-pipeline"
    securityContext:
      runAsUser: 1000
    resources:
      requests:
        cpu: 500m
        memory: 2Gi
      limits:
        cpu: 1000m
        memory: 4Gi
    livenessProbe:
      initialDelaySeconds: 15
      periodSeconds: 600  # check every x seconds
      timeoutSeconds: 60  # allow x seconds for a response
      failureThreshold: 2
      httpGet:
        path: /internal/healthy
    readinessProbe:
      initialDelaySeconds: 15
      periodSeconds: 30
      timeoutSeconds: 60
      failureThreshold: 2
      httpGet:
        path: /internal/ready
  deployment:
    podLabels:
      app: rtl-rag-chatbot-api
    podAnnotations:
      prometheus.io/scrape: "true"
      prometheus.io/path: /metrics
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: "topology.kubernetes.io/zone"
        whenUnsatisfiable: ScheduleAnyway
    scaleDown: false
  ingress:
    enabled: true
    domains:
      - "rtl-rag-chatbot-api.ecina.test.da-service.io"
  serviceAccount:
    name: "chatbot-api"
  cloudsql:
    enabled: true
    db:
      name: main
      user: chatbot_ui
gcp:
  project_id: ""
