global:
  env: "test"
  port: 8080
  probePath: /info
  vault:
    secrets_prefix: "common"
universal-helm-chart:
  container:
    image:
      repository: "override-me-via-ci-pipeline"
      tag: "override-me-via-ci-pipeline"
    securityContext:
      runAsUser: 1000
    resources:
      requests:
        cpu: 500m
        memory: 256Mi
      limits:
        cpu: 1000m
        memory: 512Mi
    livenessProbe:
      failureThreshold: 3
      initialDelaySeconds: 15
      periodSeconds: 15
    readinessProbe:
      initialDelaySeconds: 15
      periodSeconds: 15
  deployment:
    podAnnotations:
      prometheus.io/scrape: "true"
      prometheus.io/path: /metrics
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: "topology.kubernetes.io/zone"
        whenUnsatisfiable: ScheduleAnyway
    scaleDown: false
  ingress:
    enabled: true
    domains:
      - "rtl-rag-chatbot-api.ecina.test.da-service.io"
  serviceAccount:
    name: "chatbot-api"
gcp:
  project_id: ""
