# see also:
# - https://gitlab.com/dataalliance/infra/common/ci-templates/-/blob/main/infra/snippets/internal/helm/jobs.yml
# - https://gitlab.com/dataalliance/infra/common/ci-templates/-/blob/main/infra/snippets/internal/helm/rules.yml
.custom_helm_deployment_rules:
  # auto-deploy dev from default branch
  - if: |
      $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $MG_ENV == "dev"
    when: on_success
    exists:
      - helm/chart/Chart.yaml

  # auto-deploy preprod from rc-* or release-* branches
  - if: |
      $CI_COMMIT_BRANCH =~ /^rc-.*|^release-.*/ && $MG_ENV == "preprod"
    when: manual
    allow_failure: false
    exists:
      - helm/chart/Chart.yaml

  # manual deploy for prod via tag only
  - if: |
      $CI_COMMIT_TAG != null && $MG_ENV == "prod"
    when: manual
    allow_failure: false
    exists:
      - helm/chart/Chart.yaml

  # manual deploy from non-main branches to dev/lab
  - if: |
      $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH && $MG_ENV =~ /dev|lab/
    when: manual
    allow_failure: true
    exists:
      - helm/chart/Chart.yaml

  - when: never
    exists:
      - helm/chart/Chart.yaml
